@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @apply bg-Lbg text-Ltext dark:bg-bg dark:text-white;
}

/* Custom scrollbar */
body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: #1c467000;
}

body::-webkit-scrollbar-thumb {
  background: #b7f36d;
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #8dd930;
}

/* Custom scrollbar for the .overflow-items class */
.overflow-items::-webkit-scrollbar {
  width: 5px;
}

.overflow-items::-webkit-scrollbar-track {
  background: #1c467000;
}

.overflow-items::-webkit-scrollbar-thumb {
  background: #b7f36d;
  border-radius: 5px;
}

.overflow-items::-webkit-scrollbar-thumb:hover {
  background: #8dd930;
}

.overflow-items {
  scrollbar-width: thin;
  scrollbar-color: #b7f36d #1c467000;
}

/* overflow */
@media screen and (max-width: 990px) {
  .overFlowArea {
    overflow-x: auto;
  }
}

/* Shadow effects */
.all__side__shadow {
  box-shadow: 1px 1px 8px 1px #00000010;
}
.all__side__shadow_btn {
  position: relative;
  box-shadow: 0px 1px 6px 1.5px #d4d3d3b8;
}

/* Hide number input arrow */
@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
  input[type="number"] {
    -ms-appearance: textfield;
  }
  input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(50%) sepia(100%) saturate(500%) hue-rotate(180deg) brightness(90%)
      contrast(90%);
  }
}
